.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  /* border: 1px solid #ddd; /* Add a border to create a box effect */
  /* border-radius: 5px; */
  background-color: #fff;
  max-width: 1250px;
  height: 325px; /* Set the height to auto to fit content */
  width: 100%; /* Set a specific width */
  max-width: 1250px; /* Ensure the width does not exceed 1250px */
  margin: auto;
}

.textSection {
  flex: 1;
  margin-right: 20px;
  padding: 20px; /* Add padding for better spacing */
  color: #333; /* Text color */
}

.textSection h1 {
  font-size: 2.5rem; /* Increase the font size */
  margin-bottom: 20px;
  color: #0070f3; /* Set a primary color */
}

.textSection h2 {
  font-size: 1.8rem; /* Set font size for subheadings */
  margin-top: 20px;
  margin-bottom: 10px;
  color: #005bb5; /* Set a secondary color */
}

.textSection p {
  font-size: 1.2rem; /* Increase font size for better readability */
  line-height: 1.6; /* Set line height for better readability */
  margin-bottom: 20px;
}

.imageSection {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the images */
}

.imageContainer {
  position: relative;
  width: 255px; /* Set the width of the container */
  height: 200px; /* Set the height of the container */
}

.image {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlayImageContainer {
  position: absolute;
  top: 25%; /* Positioning the overlay image in the fourth quadrant */
  left: 50%;
  transform: translate(
    -25%,
    25%
  ); /* Adjust to place the first quadrant of image 2 on the fourth quadrant of image 1 */
  width: 200px; /* Set the width of the overlay image */
  height: 210px; /* Set the height of the overlay image */
}

.overlayImage {
  border-radius: 5px;
  object-fit: cover;
}
