.footer {
  background: linear-gradient(90deg, #001529 0%, #004d80 100%);
  color: #fff;
  padding: 0px 20px; /* Adjust padding as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust space between sections */
  position: relative; /* Ensure gradient bar works correctly */
}

.contact {
  margin-bottom: 10px; /* Less margin to reduce height */
  color: #fff;
}

.contact h3 {
  font-size: 1.6rem; /* Slightly smaller font */
  margin-bottom: 10px;
  color: #f0f0f0;
}

.contact p {
  font-size: 1rem; /* Reduced size */
  margin: 0;
  color: #d9d9d9;
}

.contact span {
  font-weight: bold;
  color: #fff;
}

.socialLinks {
  margin-top: 15px; /* Reduced margin */
  display: flex;
  justify-content: center;
  gap: 20px; /* Decreased space between icons */
}

.icon {
  font-size: 1.8rem; /* Slightly smaller icons */
  color: #d9d9d9;
  transition: color 0.3s, transform 0.3s;
}

.icon:hover {
  color: #1da1f2;
  transform: translateY(-3px); /* Subtle lift on hover */
}

.additionalLinks {
  margin-bottom: 10px; /* Reduced margin */
}

.additionalLinks a {
  color: #0070f3;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem; /* Slightly smaller text */
  font-weight: 500;
  transition: color 0.3s;
}

.additionalLinks a:hover {
  color: #1da1f2;
  text-decoration: underline;
}

.copyright {
  font-size: 0.8rem; /* Slightly smaller text */
  color: #b3b3b3;
}
