.footer {
  background-color: #faf8f8;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin-bottom: 20px;
  color: #0e0101;
}

.contact h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #0e0101;
}

.contact p {
  font-size: 1rem;
  margin: 0;
  color: #0e0101;
}

.contact span {
  /* font-weight: bold; */
  color: #150101;
}

.socialLinks {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  font-size: 1.5rem;
  color: #0e0101;
  transition: color 0.3s;
}

.icon:hover {
  color: #0070f3; /* Hover color */
}

.additionalLinks {
  margin-bottom: 20px;
  color: #0070f3;
}

.additionalLinks a {
  color: #150101;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
}

.additionalLinks a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 0.9rem;
  color: #0e0101;
}
