.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #0d2d5492; /* Classic blue background color */
  box-shadow: 0 8px 8px rgba(253, 253, 253, 0.977);
}

.logo img {
  max-height: 75px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: flex;
  align-items: center;
}

.nav ul li a {
  text-decoration: none;
  color: #080808ff;
  font-weight: bold;
}

.nav ul li a:hover {
  color: #f31000;
}

.logoutButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: darkred;
}
