.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  /* border-radius: 10px; */
  height: 50vh; /* Full viewport height */
  background: url("/8e65ce2e-4def-4a93-92de-f76ed1582cc5.png") no-repeat center
    center;
  background-size: cover; /* Ensure the image covers the entire section */
  color: #fff; /* White text color for better contrast */
  margin-bottom: 10px;
}

.heroContent {
  text-align: center;
  z-index: 1; /* Ensure content is above the background */
}

.headline {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

.buttonGroup {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.button {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent background for buttons */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Darker background on hover */
}
