.pageContainer {
min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background: "linear-gradient(90deg, #001529 0%, #004d80 100%)";
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
.rest{
  background: "linear-gradient(90deg, #001529 0%, #004d80 100%)";
}
.subHeading {
  font-size: 2rem;
  color: #0056b3;
  margin-bottom: 10px;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  color: #999;
  padding: 50px;
}
